# Set up

In [8]:
import duckdb
import pandas as pd
from IPython.display import display
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from eda_support_functions import *

# Suppress all warnings
import warnings

warnings.filterwarnings('ignore')

In [9]:
full__regression__none = pd.read_csv('../data/ml_ready_data/full__regression__with_outliers__none.csv')

In [10]:
full__regression__none

,movie_id,original_language,runtime,ageCert,quarter,month,year,is_released_US,is_released_CN,is_released_FR,is_released_GB,is_released_JP,budget_usd_adj,revenue_usd_adj,is_outlier
0,340666,en,117,R,4,11,2016,True,False,True,True,False,2.856498e+07,3.848256e+07,False
1,14347,en,100,R,1,2,1984,True,False,True,True,False,2.639382e+07,5.467794e+07,False
2,14351,en,95,PG13,3,9,2006,True,False,False,False,False,8.766228e+06,1.059454e+07,False
3,14353,en,98,U,4,11,2008,False,False,False,False,False,1.202941e+07,2.662405e+05,True
4,340674,en,93,U,4,10,2016,False,False,False,False,False,5.688104e+06,2.693487e+04,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7639,14342,en,90,PG13,2,5,1998,True,False,False,False,False,5.608012e+07,1.147185e+07,False
7640,208763,ru,128,U,1,1,2014,False,False,True,False,False,3.346450e+07,4.452338e+07,True
7641,54952,pt,90,U,1,2,2007,False,False,False,False,False,7.347812e+05,4.163182e+05,True
7642,14337,en,77,U,4,10,2004,False,False,True,True,True,1.129123e+04,8.798065e+05,True
7643,295699,en,116,R,1,3,2016,True,False,True,True,False,1.269555e+07,5.896411e+06,False

In [11]:
full__regression__none['ratio'] = full__regression__none['budget_usd_adj'] / full__regression__none['revenue_usd_adj']

In [12]:
display(full__regression__none[~full__regression__none['is_outlier']].sort_values(by='ratio', ascending=False)[['movie_id', 'ratio', 'budget_usd_adj','revenue_usd_adj']].head(100).style.format({'budget_usd_adj': "${:,.0f}",'revenue_usd_adj': "${:,.0f}"}))

In [13]:
display(full__regression__none[~full__regression__none['is_outlier']].sort_values(by='ratio', ascending=True)[['movie_id', 'ratio', 'budget_usd_adj','revenue_usd_adj']].head(40).style.format({'budget_usd_adj': "${:,.0f}",'revenue_usd_adj': "${:,.0f}"}))