# Set up

In [1]:
import duckdb
import pandas as pd
from IPython.display import display
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from eda_support_functions import *

# Suppress all warnings
import warnings

warnings.filterwarnings('ignore')

In [2]:
full__regression__none = pd.read_csv('../data/ml_ready_data/full__regression__with_outliers__none.csv')

In [3]:
full__regression__complex = pd.read_csv('../data/ml_ready_data/full__regression__with_outliers__complex.csv')

In [4]:
full__regression__complex.shape

(12131, 387)

In [5]:
full__regression__complex = full__regression__complex.convert_dtypes(infer_objects=True)

In [6]:
# Make a dataframe with the columns that we have in the full__regression__complex dataframe, and then a column with the splits ("__") in the column names
full__regression__complex_columns = pd.DataFrame(full__regression__complex.columns, columns=['column_name'])
full__regression__complex_columns['level_1'] = full__regression__complex_columns['column_name'].apply(lambda x: x.split('__')[0])
full__regression__complex_columns['level_2'] = full__regression__complex_columns['column_name'].apply(lambda x: x.split('__')[1] if len(x.split('__')) > 1 else None)

In [7]:
full__regression__complex_columns['boolean_true'] = full__regression__complex_columns['column_name'].apply(lambda x: full__regression__complex[x].sum() if full__regression__complex[x].dtype == 'boolean' else None)

In [8]:
a = full__regression__complex_columns[full__regression__complex_columns['boolean_true'].notnull()].sort_values('boolean_true', ascending=False)
a['normalized'] = a['boolean_true'] / full__regression__complex.shape[0]

In [9]:
a

,column_name,level_1,level_2,boolean_true,normalized
310,is_spoken_language__en,is_spoken_language,en,9082.0,0.748660
7,is_released__US,is_released,US,8483.0,0.699283
373,is_prod_country__US,is_prod_country,US,7382.0,0.608524
58,is_genre__Drama,is_genre,Drama,6439.0,0.530789
9,is_released__FR,is_released,FR,6367.0,0.524854
...,...,...,...,...,...
260,is_collection__los_superagentes,is_collection,los_superagentes,0.0,0.000000
259,is_collection__lone_wolf_and_cub_collection,is_collection,lone_wolf_and_cub_collection,0.0,0.000000
258,is_collection__les_charlots_saga,is_collection,les_charlots_saga,0.0,0.000000
256,is_collection__lemon_popsicle,is_collection,lemon_popsicle,0.0,0.000000
215,is_collection__basnici_kolekcia_,is_collection,basnici_kolekcia_,0.0,0.000000

In [10]:
a.groupby('level_1').agg({
    'normalized': ['mean', 'min', 'max']
}).rename(columns={'normalized': ''})

                          mean       min       max
level_1
is_collection         0.000191  0.000000  0.001484
is_genre              0.124201  0.000659  0.530789
is_keyword            0.019269  0.001566  0.077735
is_on_holiday_window  0.403347  0.403347  0.403347
is_outlier            0.455527  0.455527  0.455527
is_prod_company       0.007705  0.000000  0.052840
is_prod_country       0.032704  0.000495  0.608524
is_released           0.391279  0.038084  0.699283
is_spoken_language    0.047092  0.001896  0.748660

In [11]:
full__regression__complex_columns.groupby('level_1').agg({'level_2': 'count', 'boolean_true': 'sum'}).sort_values('level_2', ascending=False)

                                    level_2  boolean_true
level_1
is_collection                            91         211.0
is_prod_company                          89        8319.0
is_keyword                               53       12389.0
is_prod_country                          42       16663.0
is_spoken_language                       29       16567.0
is_genre                                 19       28627.0
is_released                               5       23733.0
actor_kpis                                4           0.0
producer_kpis                             4           0.0
genre_kpis                                4           0.0
keyword_kpis                              4           0.0
director_kpis                             4           0.0
production_company_kpis                   4           0.0
composer_kpis                             4           0.0
collection_kpis                           4           0.0
writer_kpis                               4           0.0
month_cos                                 0           0.0
movies_released_within_15_days            0           0.0
production_size                           0           0.0
quarter                                   0           0.0
revenue_usd_adj                           0           0.0
movie_id                                  0           0.0
month_sin                                 0           0.0
runtime                                   0           0.0
original_language                         0           0.0
is_outlier                                0        5526.0
month                                     0           0.0
ageCert                                   0           0.0
is_on_holiday_window                      0        4893.0
gdp_growth_oecd                           0           0.0
empl_rate_oecd                            0           0.0
economic_situation_oecd                   0           0.0
days_to_xmas                              0           0.0
days_to_thanksgiving                      0           0.0
days_to_labour_day                        0           0.0
consumer_prices_oecd                      0           0.0
composite_consumer_confidence_oecd        0           0.0
budget_usd_adj                            0           0.0
year                                      0           0.0

In [12]:
full__regression__none

,movie_id,original_language,runtime,ageCert,quarter,month,year,is_released__US,is_released__CN,is_released__FR,is_released__GB,is_released__JP,budget_usd_adj,revenue_usd_adj,is_outlier,production_size
0,7551,en,126,PG13,4,11,2006,True,True,True,True,True,1.133564e+08,2.728980e+08,False,large_productions
1,7553,en,94,R,4,10,2005,True,False,False,True,False,4.680522e+06,2.907804e+07,False,small_productions
2,23830,en,93,U,4,11,2010,False,False,True,True,False,9.781496e+06,1.068270e+07,True,small_productions
3,66150,en,95,PG13,1,1,2011,True,False,False,False,False,6.123055e+04,3.059509e+05,False,small_productions
4,505058,en,93,R,3,7,2018,True,False,True,True,False,1.213435e+06,1.941496e+07,True,small_productions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12126,23827,en,86,R,3,9,2007,True,False,True,True,False,3.159559e+05,2.841484e+08,True,small_productions
12127,441881,hi,136,U,2,6,2017,False,False,False,True,False,1.923815e+07,4.061942e+07,True,medium_productions
12128,7520,en,104,R,3,7,1988,True,False,True,True,True,5.151344e+07,4.417401e+08,True,large_productions
12129,505015,es,87,U,1,3,2018,False,False,False,False,False,4.732396e+06,5.096427e+06,True,small_productions
12130,44192,en,96,U,2,5,1991,False,False,True,False,True,1.342300e+07,1.443688e+05,True,medium_productions

In [13]:
full__regression__none.shape

(12131, 16)

In [14]:
(full__regression__none
 .groupby(['is_outlier', 'production_size'])
 .size()
 .unstack(fill_value=0)
 .rename(index={False: 'Not Outlier', True: 'Outlier'})
 .assign(Total=lambda x: x.sum(axis=1))
 .pipe(lambda df: pd.concat([df, pd.DataFrame([df.sum()], index=['Total'])])
       .fillna(0)
       .astype(int))
 .style
#  .background_gradient(cmap='YlOrRd')
 .format("{:,d}")
)

In [15]:
full__regression__none['ratio'] = full__regression__none['budget_usd_adj'] / full__regression__none['revenue_usd_adj']

In [18]:
display(full__regression__none[~full__regression__none['is_outlier']].sort_values(by='ratio', ascending=False)[['movie_id','original_language','year','ratio', 'budget_usd_adj','revenue_usd_adj']].head(30).style.format({'budget_usd_adj': "${:,.0f}",'revenue_usd_adj': "${:,.0f}"}))

In [17]:
display(full__regression__none[~full__regression__none['is_outlier']].sort_values(by='ratio', ascending=True)[['movie_id', 'ratio', 'budget_usd_adj','revenue_usd_adj']].head(10).style.format({'budget_usd_adj': "${:,.0f}",'revenue_usd_adj': "${:,.0f}"}))