In [ ]:
movie_id = ['movie_id']
basic_features = ['original_language', "runtime", 'day', "month", "year"]
revenue_budget = ["revenue_usd_adj", "budget_usd_adj"]
revenue_budget_log = ["revenue_usd_adj_log", "budget_usd_adj_log"]
eng_features = ["month_cos", 'month_sin', "is_sequel_my", "ageCert"]

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/Users/iliasxenogiannis/Documents/GitHub/box-office-prediction/Code/Data Pipeline/ml_data_reg.csv')

In [6]:
df.head()

,movie_id,imdb_id,original_language,original_title,release_date,runtime,revenue_dom,revenue_int,revenue_world,revenue_open,...,cat_9880,cat_996701,cat_9979,cat_9994,keyword_max,keyword_avg,keyword_count,collection_max,collection_avg,collection_count
0,47652,tt0865925,en,Off the Grid,2006-09-01,110,NaN,218499.0,218499,NaN,...,0,0,0,0,3.004750e+08,4.076013e+07,127.0,0.0,0.0,0.0
1,127316,tt1017437,es,Gigantes de Valdés,2008-01-01,100,NaN,84495.0,84495,NaN,...,0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0
2,80679,tt1217259,en,In/Significant Others,2010-05-14,100,3763.0,NaN,3763,1408.0,...,0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0
3,25149,tt0407814,en,Full Grown Men,2006-04-27,78,13716.0,NaN,13716,3757.0,...,0,0,0,0,1.033920e+09,7.562242e+07,70.0,0.0,0.0,0.0
4,212968,tt2276023,en,The United States of Autism,2013-04-05,93,100403.0,NaN,100403,3413.0,...,0,0,0,0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0